@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 0.15em;
}

body {
  min-height: 100vh;
  max-height: max-content;
  width: 100vw;
  background: linear-gradient(to left bottom, #2b9348, #55a630, #80b918);
  background-repeat: round;
}

#root {
  min-height: 100vh;
  max-height: max-content;
}

.App,
#routeMain {
  height: 100%;
  width: 100%;
}

button {
  background-color: #55a630;
  box-shadow: 2px 2px 4px 0px #2b9348, -2px -2px 2px 0px #80b918;
  color: #081c15;
  border: none;
  height: max-content;
  width: max-content;
  border-radius: 5px;
  text-align: center;
}

button:hover {
  box-shadow: 3px 3px 4px 0px #2b9348 inset, -3px -3px 2px 0px #80b918 inset;
}

button:active {
  box-shadow: 4px 4px 4px 0px #2b9348 inset, -4px -4px 2px 0px #80b918 inset;
}

nav {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: max-content;
  padding: 0.5% 0;
  background-color: #081c15;
  position: sticky;
}

#title {
  color: #edf2f4;
  margin-left: 1%;
}

#linkDiv {
  display: flex;
  justify-content: flex-end;

  width: 80%;
  margin-right: 0.5%;
}

a {
  text-decoration: none;
  color: #edf2f4;
  /* margin: 0 1% 0 0; */
  border-right: 2px solid #edf2f4;
  padding: 0.5% 1% 0.5% 01%;
  border-radius: 5px 0 0 5px;
  position: inherit;
}

a:last-child {
  border: none;
  border-radius: 0 5px 5px 0;
  margin-left: 0;
}

a:hover {
  box-shadow: -2px -2px 2px #edf2f4;
}

a:last-child:hover {
  box-shadow: 2px -2px 2px #edf2f4;
}

/*////////////////////  NavBar, body, and global above  ///////////////// */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.home section {
  width: 100%;
  text-align: center;
}

/* ////////////// */
#searchForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 2% 0;
  width: 100%;
}

#searchBar {
  height: 4em;
  width: 25em;
  border-radius: 5px;
  border: none;
  margin: 0 3% 0 0;
  padding-left: 2%;
  font-size: 1.15em;
  background-color: #55a630;
  box-shadow: 2px 2px 4px 0px #2b9348 inset, -2px -2px 2px 0px #80b918 inset;
  color: #edf2f4;
}

#searchForm label {
  font-size: 1.5em;
}

#beerInput,
#beerTypeInput {
  margin: 0 3% 0 0.8%;
  border: 0;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
}

#beerInput:hover,
#beerTypeInput:hover {
  border-radius: 50%;
  box-shadow: 2px 2px 5px #081c15;
}

#searchButton {
  font-size: 1.15em;
  height: max-content;
  width: max-content;
  border-radius: 5px;
  border: none;
  background-color: #081c15;
  color: #edf2f4;
  padding: 1% 2%;
  box-shadow: 2px 2px 5px #081c15, -2px -2px 5px #edf2f4;
}

#searchButton:hover {
  box-shadow: 3px 3px 5px #081c15, -3px -3px 5px #edf2f4;
}

#searchButton:active {
  box-shadow: 4px 4px 5px #081c15, -4px -4px 5px #edf2f4;
}

/*//////////// - Search Bar*/
/*/ ///////////////*/
.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;

  width: 100%;
  height: max-content;
}

.card {
  height: 20%;
  width: 20%;
  margin: 1%;
  padding: 1%;
  border-radius: 10px;
  background: linear-gradient(to right top, #2b9348, #55a630, #80b918);
  box-shadow: 4px 4px 4px #2b9348, -1px -1px 2px 0 #ffd49f;
  text-align: center;
}

.card:hover {
  cursor: pointer;
  box-shadow: 5px 5px 4px #2b9348, -2px -2px 2px 0 #ffd49f;
}

.cardImg {
  width: 100%;
  /* height: 7em; */
  max-height: 15em;
  border-radius: 5px;
}
/*//////////// - Beer and Type Cards*/
/*/ ///////////////////////  Home page above  /////////////////////////// */

#randomBeerPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.randomBeerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin: 1%;
  padding: 1%;
  border-radius: 10px;
  background: linear-gradient(to right top, #2b9348, #55a630, #80b918);
  box-shadow: 4px 4px 4px #2b9348, -1px -1px 2px 0 #ffd49f;
  width: 30%;
  height: max-content;
  text-align: center;
}

#randomBeerName {
  margin: 1% 0 3% 0;
}

.randomBeerRating {
  margin: 3% 0 2% 0;
}

.randomBeerContainer img {
  max-height: 25em;
  max-width: 20em;
  border-radius: 5px;
}

#randomBeerPage button {
  font-size: 1.15em;
  padding: 1% 2%;
  margin-top: 1%;
}

/*////////////////////////  Random Beer page above  /////////////////////////// */

#beerTypesDiv {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to left bottom, #2b9348, #55a630, #80b918);
}

#beerTypesMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

/*/ ///////////////////////  Beer Types page above  /////////////////////////// */

#beerTypeContentsPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: 100%;
}

#beerTypeContentsPage button {
  font-size: 1em;
  padding: 1% 2%;
  margin: 1% 0 1% 0;
}

/*/////////////  */
#beerForm,
form {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
}

form input[type='text'] {
  height: 2em;
  width: 11em;
  border-radius: 5px;
  border: none;
  margin: 0 1% 0 0;
  padding-left: 1%;
  font-size: 1.15em;
  background-color: #55a630;
  box-shadow: 2px 2px 4px 0px #2b9348 inset, -2px -2px 2px 0px #80b918 inset;
  color: #edf2f4;
}

/* ////////New Beer Form above */

#beerTypeContentsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 98vw;
}

#beerTypeContentsContainer main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;

  width: 100%;
}

.beerTypeContentsCard {
  height: max-content;
  width: 20%;
}
/* Beer Type contents & Beer Card above   */

/*////////////////////////  Beer Type Details page above  //////////////////// */

#beerDetailsPage {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; */

  height: 100%;
  /* width: 98vw; */
}

#beerDetailsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  height: 100%;
  padding: 0 1%;
}

/* ////////////// */

#beerNameAndRating {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin: 9% 2% 0 0;
  text-align: center;
  height: 100%;
  /* width: max-content; */
}

#beerNameAndRating h1 {
  border-bottom: 2px solid #081c15;
  width: 100%;
  text-align: center;
  margin-bottom: 3%;
  font-size: 1.75em;
}

#beerNameAndRating h2 {
  border-bottom: 2px solid #081c15;
  width: 70%;
  text-align: center;
  margin-bottom: 2%;
}
/* Beer Name/Rating above */

.beerDetailsImg {
  height: 100%;
  max-height: 23em;
  max-width: 25%;
  margin: 3% 2% 0 2%;
  border-radius: 5px;
}

/* Beer Details Img above */

#beerReviews {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 33%;
  height: max-content;
  margin: 1% 0 2% 0;
}

#beerReviews button {
  font-size: 1em;
  padding: 1% 2%;
  margin: 1% 0 1% 0;
}

#reviewForm {
  width: 100%;
  height: max-content;
}

#reviewForm textarea {
  margin: 1% 0 0 0;
  height: 7em;
  width: 70%;
  border-radius: 5px;
  border: none;
  padding: 1% 0 0 2%;
  font-size: 1.15em;
  background-color: #55a630;
  box-shadow: 2px 2px 4px 0px #2b9348 inset, -2px -2px 2px 0px #80b918 inset;
  color: #edf2f4;
}

#reviewForm button {
  margin-bottom: 2%;
}

#reviewCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
  height: 20em;
  overflow: scroll;
  padding: 0 3%;
}

/*//////// Review Form above */

.reviewCard {
  height: max-content;
  width: 45%;
  /* margin: 0 0.5% 0 0; */
  padding: 0.5% 1%;
}

.review p {
  word-wrap: break-word;
}
/* /// Review Card above */
/*/ ///////////////////////  Beer Details page above  //////////////////// */

#reviewDetailsPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: 100%;
}

#reviewDetailsPage h2 {
  margin: 0.3% 0 0.3% 0;
  font-size: 2em;
}

#reviewForm {
  justify-content: flex-start;

  height: max-content;
}

#rating,
#comment {
  margin: 0 0 1% 0;
}

#comment {
  word-wrap: break-word;
}

#reviewForm button,
#reviewDetailsPage section button {
  font-size: 1em;
  padding: 0.5% 1%;
}

#reviewDetailsPage section {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  margin: 1% 0 0 0;
}

/*/ ///////////////////////  Review Details page above  //////////////////// */
/* .mapContainer {
  height: 80%;
  width: 80%;
} */

#breweryPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#breweryTitle {
  font-size: 2.5em;
}

.breweryCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
}

.breweryCard {
  height: max-content;
  width: max-content;
  margin: 1%;
  padding: 1%;
  border-radius: 10px;
  background: linear-gradient(to right top, #2b9348, #55a630, #80b918);
  box-shadow: 4px 4px 4px #2b9348, -1px -1px 2px 0 #ffd49f;
  text-align: center;
}
